{% extends "base.html" %}
{% load static %}
{% block title %}genre_cloud.html{% endblock %}

{% block extra-style %}
<style type="text/css">
.genre{

    text-align: center;
}

.genre-cloud{
    text-align: center;
    font-size: xx-large;
}

</style>
{%endblock%}

{%block content%}
<br>
<div class="genre">
<h1>Category by Genre</h1>
<br><br><br>
</div>

<div class="genre-cloud">
    <div class="row">
        {% load taggit_templatetags2_tags%}
        {% get_tagcloud as tags %}
        {% for tag in tags %}
        {%if tag.name == '코미디'%}
        
            <span class="card" style="width:200px">
                <img class="card-img-top" src="{%static 'img/2.jpg'%}">
                <span class="tag-{{tag.weight|floatformat:0}}" style="text-align: center; font-size: x-large;">
                <a href="{% url 'video:tagged_object_list' tag.name %}">{{tag.name}}</a>
                </span>
                {%endif%}
            </span>
    </div>

    {%endfor%}
    
</div>
    {%endblock%}