
.dark
{
    color:white;
    background-color: black;
    
        
}

.dark .form-signin {
    border: 1px solid #f9f7f762;
}


.dark #bg5 {
    background-color: black;
    
}


.dark #password {
    background-color: black;
    color:white;
}

.dark #password2 {
    background-color: black;
    color:white;
}

.dark #hi2 {
    background-color: black;
    color:white;
}

.dark #gender {
    background-color: black;
    color:white;
}

.dark #call {
    background-color: black;
    color:white;
}

.dark #hi {
    background-color: black;
    color:white;
}

.dark #container2{
    background-color: black;
    color:black;
}

.dark .card3 #form-group2{
    background-color: black;
    color:black;
}

.dark .card2{
    background-color: black;
}

.dark .table{
    color: white;
}

.dark .table #option1{
    color: white;
}

.light
{
    color:black;
    background-color: rgba(255, 255, 255, 0.788);   
}
.light .table #option1{
    color:black;
}

