{% extends "base.html" %}
{% load widget_tweaks %}

{% block title%}Home{% endblock %}

{% block content%}


<div style="text-align: right;">
  <a href="?theme=light" class="btn btn-light">light</a>
  <a href="?theme=dark" class="btn btn-dark">dark</a>
  <br><br><br><br><br><br>
</div>


<div style="text-align:center">
  <img src="https://fontmeme.com/permalink/210205/416c32f381d18aa5c990b57c86446f6b.png" alt="netflix-type"
    border="0"></a>
</div>
{{form.errors}}
<form class="wrapper" action='/accounts/login/' method="post">
  {% csrf_token %}
  <div class="form-signin">
    <br>
    <h1 class="form-signin-heading">로그인</h1>
    <br>
    <div>
      <input type="text" class="form-control" name="username" placeholder="이메일" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="비밀번호" required="" />
      <a href="#"><button class="btn btn-lg btn-danger btn-block" type="submit">Login</button></a>
    </div>
    &nbsp;&nbsp;

    <div class="hr"></div>
    <div class="question">아직 회원이 아니신가요?</a>


      <div class="sign_in" style="float: right;"><a href="{% url 'register' %}">회원가입</a>
      </div>
    </div>
    <div class="hr"></div>
    <div class="find"><a href="#">비밀번호 찾기</a>
    </div>
</form>
</div>
{%endblock%}