{% extends "base.html" %}

{% block title %}video_type.html{% endblock %}

{% block content %}

    <center>
        <h1>{{ type }}</h1>
        <br>
        {% for video in video_list %}
            <h3>{{ video.title }}</a></h3>
        {% endfor %}
        <br>
    </center>
    {% for video in video_list %}
    <div class="card" style="width:400px">
        <img class="card-img-top" src ="https://occ-0-993-3996.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABepJ5xOBNcaaLcuDujTbnC3EWxmPmA-MwwabHt8S7bG9jJZLmdkay-tT3bo1SA4VYP9UO2kI9e9">
        <div class="card-body">
            <h4 class="card-title">{{ video.title }}</h4>
            <p class="card-text">{{ video.description }}</p>
        <a href ="#" class="btn btn-primary">watch</a>
        </div>
    </div>
    {% endfor %}
        
{% endblock %}