{% extends "base.html" %} 
{% load widget_tweaks %} 

{% block title %}video_upload_from.html{% endblock %}

{% block content %}
    <div class='container-fluid full-width'>
        <div>
            <iframe width="1000" height="480" src="{{ video.video_link }}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="form-row float-right">
            <button type="button" class="btn btn-outline-danger">추천</button>  
               <button type="button" class="btn btn-outline-danger">찜하기</button>
        </div>
        <div>
            <h1>{{video.title}} </h1>
            <h2>장르 : {{video.genre}} | 감독 : {{video.director}} | 개봉 일 : {{video.release_dt}} | {{video.running_time}}
            </h2>
            <h3>{{video.description}}</h3>
        </div>
    </div>

{% endblock %}

