<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>

</head>

<body>
    <div class='container-fluid full-width'>
        <div>
            <iframe width="1000" height="480" src="{{ video.video_link }}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="form-row float-right">
            <button type="button" class="btn btn-outline-danger">추천</button>  
               <button type="button" class="btn btn-outline-danger">찜하기</button>
        </div>
        <div>
            <h1>{{video.title}} </h1>
            <h2>장르 : {{video.genre}} | 감독 : {{video.director}} | 개봉 일 : {{video.release_dt}} | {{video.running_time}}
            </h2>
            <h3>{{video.description}}</h3>
        </div>
    </div>

</body>

</html>