{%extends "base.html"%}
{%load widget_tweaks%}

{%block title%}mypage.html{%endblock%}

{% block extra-style %}

<style>
    #option1 {
        text-decoration : none;
        color: aliceblue;
    }
</style>

{% endblock %}

{%block content%}
    <h1>{{user.username}}의 My page</h1>
    <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <a type="radio" name="options" id="option1" autocomplete="off" href='#' checked> 계정 </a>
        </label>
        <label class="btn btn-secondary">
            <a type="radio" name="options" id="option1" autocomplete="off" href='#' checked> 나의 컨텐츠 </a>
        </label>
        <label class="btn btn-secondary">
            <a type="radio" name="options" id="option1" autocomplete="off" href='#' checked> 내가 쓴 리뷰 </a>
        </label>
        <label class="btn btn-secondary">
            <a type="radio" name="options" id="option1" autocomplete="off" href='#' checked> 관심 태그 </a>
        </label>
    </div>
    <div>
        이름 : {{user.username}}
    </div>
    <div>
        이메일 : {{user.email}}
    </div>
    <div>
        나이 : {{user.age}}
    </div>
    <div>
        성별 : {{user.gender}}
    </div>
    <div>
        연락처 : {{user.phone}}
    </div>
{%endblock%}