{%extends "mypage_bar.html"%}
{%load widget_tweaks%}
{% load static %}
{%block title%}mypage.html{%endblock%}

{% block extra-style %}
<style>
    #option1 {
        text-decoration: none;
        color: aliceblue;
    }
    .center {
        text-align: center;
    }
    .media {
        width: 100%;
        height: 100%;
        padding-top: calc (300 / 1000 * 100);
    }
</style>
{% endblock %}

{%block content%}
<div class="container">
    <br>
        <h1 style="text-align: center;">M&nbsp&nbspY&nbsp&nbspP&nbsp&nbspA&nbsp&nbspG&nbsp&nbspE</h1>
    <br>
    <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <a type="radio" name="options" id="option1" autocomplete="off" href='#' checked> 계정 </a>
        </label>
        <label class="btn btn-secondary">
            <a type="radio" name="options" id="option1" autocomplete="off" href='{% url "video:dibs_list" %}' checked> 나의 컨텐츠 </a>
        </label>
        <label class="btn btn-secondary">
            <a type="radio" name="options" id="option1" autocomplete="off" href='{% url "myreview" %}' checked> 내가 쓴 리뷰
            </a>
        </label>
        <label class="btn btn-secondary">
            <a type="radio" name="options" id="option1" autocomplete="off" href='{% url "site_info" %}' checked> 사이트 정보 </a>
        </label>
    </div>
    <br><br>
    <center>
        <img src="{% static 'img/multiflex5.png' %}" class="media">
    </center>
    <br>
    <table class="table">
        <tr>
            <th class="border center">
                이름
            <td class="border center">{{user.username}}</td>
            </th>
        </tr>
        <tr>
            <th class="border center">
                성별
            <td class="border center">{{user.gender}}</td>
            </th>
        </tr>
        <tr>
            <th class="border center">
                나이
            <td class="border center">{{user.age}}</td>
            </th>
        </tr>
        <tr>
            <th class="border center">
                연락처
            <td class="border center">{{user.phone}}</td>
            </th>
        </tr>
    </table>
    <center>
        <br>
        <label class="btn btn-secondary btn-lg active">
            <a type="radio" name="options" id="option1" autocomplete="off" href='{% url "user_update" %}' checked> 정보수정
            </a>
        </label>
        <label class="btn btn-secondary btn-lg active">
            <a type="radio" name="options" id="option1" autocomplete="off" href='{% url "change_password" %}' checked>
                비밀번호 변경 </a>
        </label>
        <label class="btn btn-secondary btn-lg active">
            <a type="radio" name="options" id="option1" autocomplete="off" href='{% url "user_delete" %}' checked> 회원 탈퇴
            </a>
        </label>
        {% if user.is_admin %}
        <label class="btn btn-secondary btn-lg active">
            <a type="radio" name="options" id="option1" autocomplete="off" href='{% url "video:upload_Video" %}'
                checked> 영상 업로드
            </a>
        </label>
        {% endif %}
    </center>
    {%endblock%}

