{%load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Multiflex{% endblock %}</title>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'css/login_css.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/login.css'%}">
    <link rel="stylesheet" type= "text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type= "image/png" href="{%static 'img/multiflex4.png'%}">
    {% block extra-style %}{% endblock %}

</head>

<body style="padding-top:79px;" class="{{request.session.theme}}">
    {% include 'menu.html' %}
    <div class="container-fluid">
        {% block content%}{% endblock %}
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> </script>



{% block extra-script %}
{% endblock %}

</html>
