{% extends 'base.html' %}
{%load static%}
{% block title %}main_home.html{% endblock %}

{% block extra-style %}
    <!-- <style>       
        .grid-container {
            position: relative;
            white-space:nowrap;
            display: inline-grid;
            grid-template-columns: auto auto auto auto;
            grid-row-gap: 60px;
            background-color: rgb(50, 50, 55);
            padding: 10px;
            offset-block-end: 10px;
            margin: 0%;
            }
        .grid-item {
            background-color: rgba(0, 0, 0, 0.8);
            border: 0px solid rgba(0, 0, 0, 0.8);
            padding: 0;
            font-size: 30px;
            text-align: center;
            }
        @media(max-width: 1600px) {
            .grid-container {
                display: inline-grid;
                grid-template-columns: auto auto auto;
                grid-row-gap: 60px;
                background-color: rgb(50, 50, 55);
                padding: 10px;
                offset-block-end: 10px;
                margin: 0%;
            }
        }
        @media(max-width: 1200px) {
            .grid-container {
                display: inline-grid;
                grid-template-columns: auto auto;
                grid-row-gap: 60px;
                background-color: rgb(50, 50, 55);
                padding: 10px;
                offset-block-end: 10px;
                margin: 0%;
            }
        }    
        @media(max-width: 800px) {
            .grid-container {
                display: inline-grid;
                grid-template-columns: auto;
                grid-row-gap: 60px;
                background-color: rgb(50, 50, 55);
                padding: 10px;
                offset-block-end: 10px;
                margin: 0%;
            }
        }
    </style> -->
    
<style type="text/css">
    .swiper-container {
        display: grid;
        width: 100%;
        height: 100%;
        background: rgb(50, 50, 55);
        padding: 20px;
        grid-template-columns: repeat(4, 400px);
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: rgb(50, 50, 55);

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    @media(max-width: 1200px) {
        .swiper-container {
            display: inline-grid;
            grid-template-columns: repeat(3, 400px);
            grid-row-gap: 60px;
            background-color: rgb(50, 50, 55);
            padding: 10px;
            offset-block-end: 10px;
            margin: 0%;
        }
    }

    @media(max-width: 800px) {
        .swiper-container {
            display: inline-grid;
            grid-template-columns: repeat(2, 400px);
            grid-row-gap: 60px;
            background-color: rgb(50, 50, 55);
            padding: 10px;
            offset-block-end: 10px;
            margin: 0%;
        }
    }

    @media(max-width: 400px) {
        .swiper-container {
            display: inline-grid;
            grid-template-columns: repeat(1, 400px);
            grid-row-gap: 60px;
            background-color: rgb(50, 50, 55);
            padding: 10px;
            offset-block-end: 10px;
            margin: 0%;
        }
    }

    .jumbotron{
        background-image: url(../static/img/6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 200px;
        padding-bottom:400px;
        width: 100%;
        height: 0;
        padding-top : calc (300 / 1000 * 100 );
    }
    .jumbotron .tog{
        position: absolute;
        right: 30px;
        top: 95px;
    }


    
</style>
{% endblock %}

{% block content %}




<div class="container-fluid"></div>

<div class="jumbotron" >
    <div class="tog">
        <a href="?theme=light" class="btn btn-light">light</a>
        <a href="?theme=dark" class="btn btn-dark">dark</a>
        <br><br>
      </div>
</div>
</div>






<center>


    <div class="container text-light" style="background-color: rgb(50, 50, 55); width: 900px;">Top 10</div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {%for value in top_10 %}
            <div class="swiper-slide">
                <a href="{{value.get_absolute_url}}">
                    <img id='slider' src="{{ value.video_thumb }}">
                </a>
            </div>
            {%endfor%}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- 버튼 -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>









</center>
{% endblock %}

{% block extra-script %}
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 4,
        spaceBetween: 30,
        slidesPerGroup: 2,
        loop: true,
        loopFillGroupWithBlank: true,

        autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
{% endblock %}