<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    <a href="#"><img src="https://fontmeme.com/permalink/210203/01544e65d188def12a11442622797a28.png" alt="netflix-type" border="0"></a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item mx-1 btn btn-secondary">
                  <a class="nav-link text-white" href="#">Categories</a>
              </li>
              <li class="nav-item mx-1 btn btn-secondary">
                  <a class="nav-link text-white" href="#">Movies</a>
              </li>
              <li class="nav-item mx-1 btn btn-secondary">
                  <a class="nav-link text-white" href="#">Dramas</a>
              </li>
          </ul>
     
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item dropdown btn btn-secondary">
                  <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"><i class="far fa-user"></i>admin</a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Mypage</a>
                      <a class="dropdown-item" href="#">Logout</a>
                  </div>
              </li>
          </ul>
      </div>
  </nav>

  <br><br><br>
  <nav class="navbar navbar-transparent">
    <a
     href="javascript:void()"
     class="btn btn-outline-info btn-lg ml-auto font-weight-bold"
     id="theme-toggler"
     onclick="toggleTheme()"
   ></a>
 </nav>




  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>

  
  <script src="index.js"></script>