{%extends "mypage_bar.html"%}
{%load widget_tweaks%}

{%block title%}mypage.html{%endblock%}


{%block mypage-content%}
    
    
    <br><br><br><br>
    <h2>사이트 소개</h2><br>
    <p>
         최근 사람들은 코로나 시대로 인해 <br>
        사회적 거리두기를 실천하면서 집안에 있는 시간이 많아졌습니다. <br>
        이에 저희 MultiFlex는 적적한 집안에 영화와 드라마 같은 영상 스트리밍 서비스를 제공해 <br>
        힘든 시기에 작은 위로가 되었으면 하는 마음으로 이 사이트를 제작하게 되었습니다. <br>
    </p>
    <br><br><br><br><br><br>
    <h2>사이트 정보</h2><br>
    <h6>제작 일자 : 2021년 2월 16일</h6>
    <h6>제작      : 양태석, 정재영, 김은혜, 김승연</h6>
    <h6>제작 도움 : 멀티캠퍼스</h6>
    <h6>문의 전화 : 010-0000-0000</h6>
    <h6>문의 메일 : multiflex@gmail.com</h6>
    <h6>주소      : 대한민국 서울특별시</h6>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{%endblock%}