{%extends "mypage_bar.html"%}
{%load widget_tweaks%}

{%block title%}myreview.html{%endblock%}


{%block mypage-content%}
    <table class="table">
      
      <thead>
          <tr>
              <th>글 번호</th>
              <th>영화 제목</th>
              <th>제목</th>
              <th>내용</th>
              <th>등록 날짜</th>
          </tr>
      </thead>
      
      <tbody>
        {% for review in review_list %}
          <tr>
              <td>{{ review.id }}</td>
              <td>{{review.video_id}}</td>
              <td id="option1">
                  <a href="#" target="_blank">{{review.re_title}}</a>
              </td>
              <td>{{ review.content }}</td>
              <td>{{ review.create_dt }}</td>
          </tr>
          {%endfor%}
      </tbody>
      
    </table>
{%endblock%}