{%extends "base.html"%}
{%load widget_tweaks%}

{%block title%}mypage.html{%endblock%}

{% block extra-style %}

<style>
  #option1 {
      text-decoration : none;
      color: aliceblue;
  }
</style>

{% endblock %}

{%block content%}
    <h1>{{user.username}}의 My page</h1>
    <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <a type="radio" name="options" id="option1" autocomplete="off" href='{% url "mypage" %}'> 계정 </a>
        </label>
        <label class="btn btn-secondary">
          <a type="radio" name="options" id="option1" autocomplete="off" href='#'> 나의 컨텐츠 </a>
        </label>
        <label class="btn btn-secondary">
          <a type="radio" name="options" id="option1" autocomplete="off" href='#' checked> 내가 쓴 리뷰 </a>
        </label>
        <label class="btn btn-secondary">
          <a type="radio" name="options" id="option1" autocomplete="off" href='#'> 관심 태그 </a>
        </label>
    </div>

    
    <table class="table">
      
      <thead>
          <tr>
              <th>글 번호</th>
              <th>영화 제목</th>
              <th>제목</th>
              <th>내용</th>
              <th>등록 날짜</th>
          </tr>
      </thead>
      
      <tbody>
        {% for review in review_list %}
          <tr>
              <td>{{ review.id }}</td>
              <td>{{review.video_id}}</td>
              <td>
                  <a href="#" target="_blank">{{review.re_title}}</a>
              </td>
              <td>{{ review.content }}</td>
              <td>{{ review.create_dt }}</td>
          </tr>
          {%endfor%}
      </tbody>
      
    </table>

    <h1>
      <li><a href='#'> </a></li>
    </h1>
    
   (작성자 : {{review.user_id}})
{%endblock%}