{% extends "base.html" %} 
{% load widget_tweaks %} 

{% block title %}post_form.html{% endblock %}

{% block content %}
    <center>
        <br>
        <h1>리뷰 수정</h1>
        <br>
        
        <div class="container" id="container2">

        {% if form.errors %} 
        <div class="alert alert-danger" id="rv-form2"> 
            <div class="font-weight-bold">
                Wrong! Please correct the error(s) below.</div> 
            {{ form.errors }} 
        </div> 
        {% endif %}
        <form action="." method="post" enctype="multipart/form-data" class="card pt-3" id="card2">{% csrf_token %} 
            <div class="form-group row"id="form-group2"> 
                {{ form.re_title|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }} 
                <div class="col-sm-5"> 
                    {{ form.re_title|add_class:"form-control"|attr:"autofocus" }} 
                </div> 
            </div> 
            <div class="form-group row" id="form-group2"> 
                {{ form.content|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }} 
                <div class="col-sm-8"> 
                    {{ form.content|add_class:"form-control" }}
                </div> 
            </div>
            <div class="form-group"> 
                <div class="offset-sm-2 col-sm-5"> 
                    <input type="submit" value="Submit" class="btn btn-info"/> 
                </div> 
            </div>
        </form> 
    </div>
    </center>
{% endblock %}

{% block extra-script %} 
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> 
    <script> 
        tinymce.init({ selector:'textarea', menubar: false, statusbar: false, toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent | removeformat' }); 
    </script>
{% endblock %}