{% extends "base.html" %}
{% block title %}review_detail.html{% endblock %}

{% load widget_tweaks %} 
{% block content %}
<style>
    .dark #form-group2{ 
        color : white;
    }
    .dark .h4{
        color : white;
    }
</style>
<br><br>
<div class = "container">
    <div style="text-align: center;">
        <h2 style ="font-weight: bold;">{{review.re_title}}</h2>
        <br>
        <div style="text-align: center;">
            <hr width="97%" color="white" size="1">
        </div>
        <div style="text-align : right">
            작성자 : {{review.user_id}}
        </div>
        
        
        <br><br><br>
        <h4>{{ review.content|safe }}</h4>
        {% if user_id == review.user_id %}
        <button type="button" class="btn btn-info btn-sm"><a href="{% url 'review:update_review' review.id %}" style="color: white;">리뷰 수정</a></button>
        <button type="button" class="btn btn-danger btn-sm"><a href="{% url 'review:delete_review' review.id %}" style="color: white;">리뷰 삭제</a></button>
        {% endif %}
        <br><br>
        <div style="text-align: center;">
            <hr width="97%" color="white" size="1">
    </div>
</div>



<div class = "container">
    <div class = "row">
        <div class = "col-md-12 comment-bg">
            <!--댓글 헤더-->
            <div class = "page-header">
                <h5>댓글</h5>
            </div>
            <!--댓글 목록-->
            <div class = "comments-list">
                {% for comment in page_obj %}
                <div class = "media">
                    <div class = "media-body">
                        <h4 class = "media-heading user_name">
                            {{comment.text}} {% if user_id == comment.author %}
                            <button type="button" class="btn btn-info btn-sm"><a href="{% url 'review:update_comment' comment.id %}" style="color: white;">댓글 수정</a></button>
                            <button type="button" class="btn btn-danger btn-sm"><a href="{% url 'review:delete_comment' comment.id %}" style="color: white;">댓글 삭제</a></button>
                            {% endif %}
                        </h4>
                        {{comment.author}}
                        <div style="text-align: center;">
                            <hr width="100%" color="white" size="1">
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                {% endif %}
                
            
            
                {%for i in page_obj.paginator.page_range%}
                {%if page_obj.number == i%}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {%else%}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {%endif%}
                {%endfor%}
        
        
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
        
              </div>
        
            <!--댓글 작성-->
            <div style="text-align: center;" class="container" id="container2">
                <br>
            {% if form.errors %} 
                <div class="alert alert-danger" id="rv-form2"> 
                    <div class="font-weight-bold">
                        Wrong! Please correct the error(s) below.</div> 
                    {{ form.errors }} 
                </div> 
                {% endif %}
                
                <form action="." method="post">{% csrf_token %} 
                    <div class="form-group row" id="form-group2" >  
                        {{ form.text|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }} 
                        <div class="col-sm-5"> 
                            {{ form.text|add_class:"form-control"}} 
                        </div> 
                    </div> 
                        <input type="submit" value="댓글 쓰기" class="btn btn-info"/>
                    </div>
                </form> 
            </div>
        </div>
    </div>
    
    
{% endblock %}