{% extends "base.html" %}
{% block title %}review_detail.html{% endblock %}

{% load widget_tweaks %} 
{% block content %}

<h1>{{review.re_title}}</h1>
작성자 : {{review.user_id}}
<br>
{{ review.content|safe }}




<div class = "container">
    <div class = "row">
        <div class = "col-md-12 comment-bg">
            <!--댓글 헤더-->
            <div class = "page-header">
                <h5>댓글</h5>
            </div>
            <!--댓글 목록-->
            <div class = "comments-list">
                {% for comment in comment_list %}
                <div class = "media">
                    <div class = "media-body">
                        <h4 class = "media-heading user_name">
                            {{comment.author}}
                        </h4>
                        {{comment.text}}
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--댓글 작성-->
            <div class="container" id="container2">
                <br>
            {% if form.errors %} 
                <div class="alert alert-danger" id="rv-form2"> 
                    <div class="font-weight-bold">
                        Wrong! Please correct the error(s) below.</div> 
                    {{ form.errors }} 
                </div> 
                {% endif %}
                
                <form action="." method="post">{% csrf_token %} 
                    <div class="form-group row" id="form-group2">  
                        {{ form.text|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }} 
                        <div class="col-sm-5"> 
                            {{ form.text|add_class:"form-control"}} 
                        </div> 
                    </div> 
                        <input type="submit" value="댓글 쓰기" class="btn btn-info"/>
                    </div>
                </form> 
            </div>
        </div>
    </div>
    
    
{% endblock %}